
.list-clothes .card{
    width: 23%;
    display: inline-block;
    margin: 0% 0% 1% 1.5%;
}

.list-clothes .clothes-img{
    width: 100%;
}

.list-clothes .card-header{
    padding: 0%;
}

.card-description{
    text-align: left;
    font-size: 0.95rem;
}

.card-price{
    font-size: 1.25rem;
    font-weight: bolder;
}

.MuiPagination-ul{
    // border: solid;
    margin: 1.5% !important;
    justify-content: center;
}

.card-title{
    text-align: center;
    padding-top: 2%;
    font-size: 1.10rem;
    font-weight: bolder;
}

.card-footer{
    position: relative;
}

.card-div-percentage{
    color: #20c997;// white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: -40%;
}

.img-list-clothes{
    // border: solid;
    // color: red;
    // max-width: 100%;
    cursor: pointer;
    width: 100%;
    transform:scale(1);
    -webkit-transform:scale(1); // Safari and Chrome
    transition: all 250ms ease-in-out; // Safari and Chrome
    &:hover{
        transform:scale(0.96);
        -ms-transform:scale(0.96); // IE 9 
        -moz-transform:scale(0.96); // Firefox 
        -webkit-transform:scale(0.96); // Safari and Chrome 
        -o-transform:scale(0.96); // Opera
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
}