
.list-clothes .card{
    width: 23%;
    display: inline-block;
    margin: 0% 0% 1% 1.5%;
}

.list-clothes .clothes-img{
    width: 100%;
}

.list-clothes .card-header{
    padding: 0%;
}

.card-description{
    text-align: left;
    font-size: 0.95rem;
}

.card-price{
    font-size: 1.25rem;
    font-weight: bolder;
}

.MuiPagination-ul{
    // border: solid;
    margin: 1.5% !important;
    justify-content: center;
}

.card-title{
    text-align: center;
    padding-top: 2%;
    font-size: 1.10rem;
    font-weight: bolder;
}

.card-footer{
    position: relative;
}

.card-div-percentage{
    color: #20c997;// white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: -40%;
}