.products-main{
    width: 100%;
    margin-top: 60px;
}

.filters{
    display: inline-block;
    height: 100%;
    width: 20%;
    vertical-align: top;
}

.products-list{
    display: inline-block;
    // border: solid;
    // height: 100%;
    width: 80%;
}

.form-group{
    position: relative;
    top: 25px;
    margin-left: 2%;
    margin-top: 2%;
}