.products-main{
    // border: solid;
    width: 100%;
    // height: 100px;
    margin-top: 60px;
}

.filters{
    display: inline-block;
    border: solid;
    height: 100%;
    width: 20%;
}

.products-list{
    display: inline-block;
    // border: solid;
    // height: 100%;
    width: 80%;
}